<div class="card">
  <div class="head p-3">
    <h1>Form for you</h1>
  </div>
  <div class="card-body">
    <form  [formGroup]="clientForm" (ngSubmit)="save()" class="form-templaits ">

      <div class="form-group row mb-2">
        <label for="firstName">First name</label>
        <div class="col-md-8">
          <input class="form-control" id="firstName" type="text" formControlName="firstName" required placeholder="First name"/>

          <div *ngIf="f.firstName !== null && f.firstName.invalid && (f.firstName.dirty || f.firstName.touched)" class="alert alert-danger">

            <div *ngIf="f.firstName.errors?.required">First name is required.</div>
            <div *ngIf="f.firstName.errors?.minlength">First name must be at least 5 characters long.</div>

          </div>

        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="lastName">Last name</label>
        <div class="col-md-8">
          <input class="form-control" id="lastName" type="text" formControlName="lastName" required placeholder="Last name"/>

          <div *ngIf="f.lastName !== null && f.lastName.invalid && (f.lastName.dirty || f.lastName.touched)" class="alert alert-danger">

            <div *ngIf="f.lastName.errors?.required">Last name is required.</div>
            <div *ngIf="f.lastName.errors?.minlength">Last name must be at least 10 characters long.</div>

          </div>

        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="email">Your email</label>
        <div class="col-md-8">
          <input class="form-control" id="email" type="email" formControlName="email" required placeholder="Your email"/>

          <div *ngIf="f.email !== null && f.email.invalid && (f.email.dirty || f.email.touched)" class="alert alert-danger">

            <div *ngIf="f.email.errors?.required">Your email is required.</div>
            <div *ngIf="f.email.errors?.pattern">Your email must contain numbers, letters of the English language and @.</div>

          </div>

        </div>
      </div>

      <div class="form-group row mb-2">
        <label for="password">Password</label>
        <div class="col-md-8">
          <input class="form-control" id="password" type="password" formControlName="password" required placeholder="Your password"/>

          <div *ngIf="f.password !== null && f.password.invalid && (f.password.dirty || f.password.touched)" class="alert alert-danger">

            <div *ngIf="f.password.errors?.required">Password is required.</div>
            <div *ngIf="f.password.errors?.minlength">Password must be at least 10 characters long.</div>

          </div>

        </div>
      </div>  
      
      <div class="form-group row mb-2">
        <label for="confirmPassword">Confirm password</label>
        <div class="col-md-8">
          <input class="form-control" id="confirmPassword" type="password" formControlName="confirmPassword" required placeholder="Confirm password please"/>

          <div *ngIf="f.confirmPassword !== null && f.confirmPassword.invalid && (f.confirmPassword.dirty || f.confirmPassword.touched)" class="alert alert-danger">

            <div *ngIf="f.confirmPassword.errors?.required">Confirm password is required.</div>
            <div *ngIf="f.confirmPassword.errors?.mustMatch">Password should be same as Confirm password</div>

          </div>

        </div>
      </div>


      <ng-container formArrayName="addresses">
        <ng-container *ngFor="let addressForm of addresses.controls; let i = index">
          <ng-container [formGroup]="asFormGroup(addressForm)">
            <app-client-address-form></app-client-address-form>
          </ng-container>
        </ng-container>
      </ng-container>
      <button class="btn btn-info m-2" (click)="onAddAddress($event)">Add address</button>

      <button class="btn btn-primary m-2">Save</button>

    </form>
  </div>
</div>


